.noCollapse {
    padding: 0.05px;
  }
  
  .parent {
    background-color: red;
    width: 150px;
  }
  
  .children {
    margin-top: 50px;
  
    background-color: lime;      
    width: 100px;
    height: 100px;
  }